{% set class = component.class|default('') %}
{% set value = component.value|default('') %}
{% set id = component.id|default('') %}
{% set attributes = component.attributes|default('') %}
{% set label = component.label|default('') %}
{% set name = component.name|default('') %}

<div class="checkbox {{ class }}">
    <input type="checkbox" id="{{ id }}" name="{{ name }}" value="{{ value }}" {{ attributes }}>
    <label for="{{ id }}">{{ label }}</label>
</div>
